<button type="{{ type }}" class="{{ name }}" class="{{ class}}">
  <img [src]="'../assets/img/icons/' + icon + '.png'" alt="" />
  {{ name }}
</button>
<!-- <img src="../assets/img/icons/icon-calenda.png" alt=""> -->
<!-- <img [src]="'../assets/img/icons/'+ '{{icons}}'+'.png'" alt=""> -->
<!-- <img [src]="'./assets/icons/'+iconName+'.svg'" alt=""> -->

<!-- //1
<button [ngStyle]="{'background-color': color}" type="{{ type }}" class="{{ class }}">
  <img [src]="'../assets/img/icons/' + icon + '.png'" alt="" />
  {{ name }}
</button> -->