
  <body>
    <div class="grid-container">
      <div class="grid-item color1">Grid Item 1</div>
      <div class="grid-item color2">
        <header>
          <div class="grid-header">
            <div class="grid-header-item col1">1</div>
            <div class="grid-header-item col2">2</div>
            <div class="grid-header-item col3">3</div>
            <div class="grid-header-item col4">4</div>
            <div class="grid-header-item col5">5</div>
            <div class="grid-header-item col6">6</div>
          </div>
        </header>
        <main>
          <nav>
            <div class="container">
              <div class="grid-nav">
                <div class="grid-nav-item col1">col1</div>
                <div class="grid-nav-item col2">col2</div>
              </div>
            </div>
          </nav>
          <div class="analytic">
            <div class="container">
                
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>

