.grid-item {
  &.color1 {
    background-color: #1c2434;
    height: 1596px;

    .logo {
      width: 198px;
      height: 32px;
      margin: 40px 26px;
      background: initial;
      display: flex;
      gap: 12px;
      text-align: center;
      display: flex;

      .logo-img {
        width: 32px;
        height: 32px;
        left: 26px;
        right: 140px;
        top: 40px;
        bottom: -40px;
      }

      .logo-title {
        font-family: Poppins, sans-serif;
        // width: 500px;
        font-size: 26px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
        color: rgb(255, 255, 255);
        background-repeat: no-repeat;
        background: transparent;
        padding-top: 4px;
      }
    }
    .short-info {
      .short-info-menu a {
        color: rgb(138, 153, 175);
        font-family: Poppins, sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
        // text-transform: uppercase;
        // background-repeat: no-repeat;
        // background: transparent;
        // text-decoration: underline;
        padding-left: 46px;
        text-decoration: none;
      }

      .short-info-button {
        padding: 15px 26px;
        background-color: #1c2434;

        .info-button-item {
        }
        // .info-button-item button {
        //   border-radius: 3px;
        //   background-color: rgb(51, 58, 72);
        //   width: 228px;
        //   height: 40px;
        //   /* Auto layout */
        //   display: flex;
        //   flex-direction: row;
        //   justify-content: flex-start;
        //   align-items: center;
        //   padding: 8px 20px 8px 20px;
        //   margin-top: 14px;
        //   color: rgb(222, 228, 238);
        //   font-family: Poppins;
        //   font-size: 16px;
        //   font-weight: 500;
        //   line-height: 24px;
        //   text-align: left;
        //   text-transform: uppercase;
        //   text-decoration: none;
        //   border: none;
        //   cursor: pointer;
        // //   transform: perspective(color);
        // }

        .info-button-item button:active {
          background-color: aqua;
        }
      }
    }
  }

  &.color2 {
    height: 1596px;
    background-color: rgb(252, 229, 198);
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 280px 1380px;
  grid-template-rows: repeat(2, auto);
}

header {
  height: 80px;
  // background-color: aliceblue;
  background-color: #ffffff;

  .grid-header {
    padding: 17px 35px;
    display: grid;
    // grid-template-columns: repeat(6, auto);
    grid-template-columns: 800px 100px 150px 2fr auto 70px;
    height: 46px;
    place-items: center;

    .search {
      background: transparent;
      padding-right: 650px;
      padding-left: 36.6px;
      border: none;
      cursor: pointer;
      display: flex;
      box-shadow: none;

      .search-input {
        width: 115px;
        height: 20px;
        color: rgb(99, 115, 129);
        font-family: Poppins, sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
        background: transparent;
        flex-shrink: 0;
        border: none;
        cursor: pointer;
        text-decoration: none;

        &::placeholder {
          background: transparent;
        }
      }

      .search-button {
        background: transparent;
        border: none;
        cursor: pointer;
        padding-right: 28px;
      }
    }

    .toggle-btn {
      text-decoration: none;
      border: none;
      background: none;
      cursor: pointer;
    }

    .mess-btn {
      background: transparent;
      border: none;
      cursor: pointer;
      padding-right: 15px;
    }

    .bookmark-btn {
      background: transparent;
      border: none;
      cursor: pointer;
      padding-right: 15px;
    }

    .profile {
      width: 73px;
      height: 35px;
      top: 23px;
      padding-right: 10px;
    }

    .title-name {
      width: 73px;
      height: 20px;
      color: rgb(33, 43, 54);
      font-family: "Poppins";
      font-size: 14px;
      font-weight: 500;
      margin: 0;
      padding: 0;
      gap: 55px;
    }

    .category {
      margin: 0;
      padding: 0;
      width: 45px;
      height: 14px;
      color: rgb(99, 115, 129);
      font-family: "Poppins";
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      padding-right: 15px;
    }

    .profile-avatar-btn {
      background: transparent;
      border: none;
      cursor: pointer;
      // padding-right: 14.17px;
    }

    .chevron {
      background: transparent;
      border: none;
      cursor: pointer;
      padding-right: 34.17px;
    }
  }
}

main {
}

nav {
  .container {
    background-color: aliceblue;
    height: 105px;
  }

  .grid-nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    background-color: aliceblue;

    .grid-nav-item {
      &.col1 {
        padding: 45px 45px;
        width: 238px;
        height: 40px;
      }
    }

    .col2 {
      padding: 45px 45px;
      width: 88px;
      height: 40px;
      margin-left: auto;
    }
  }
}

.analytic {
  // margin-top: 25px;
  height: 397px;
  width: 1380px;
  background-color: aliceblue;
  padding: 0 45px;

  .container {
    height: 397px;
    width: 1290px;

    .row {
      justify-content: center;
      .col-lg-6 {
        height: 397px;
        width: 1290px;

        .canvas {
          // margin-left: 25%;
        }
      }
    }
  }
}

.cities {
  margin-top: 30px;
  margin-left: 44px;
  height: 774px;
  width: 676px;
  background-color: #ffffff;
  .container {
    display: flex;
    justify-content: space-between;

    .top-title {
      width: 112px;
      height: 28px;
      color: rgb(33, 43, 54);
      font-family: Poppins, sans-serif;
      font-size: 10px;
      padding-top: 22px;
      padding-left: 28px;
    }

    .top-button {
      margin-top: 22px;
      margin-right: 26px;
      width: 123px;
      height: 32px;
      /* Auto layout */
      display: flex;
      // padding-top: 22px;
      // padding-right: 26px;
      box-sizing: border-box;
      border-left: 1px solid rgb(231, 231, 231);
      border-radius: 4px;
      background: rgb(244, 247, 255);

      .btn {
        order: 0;
        flex-grow: 0;
        margin: 0px 8px;
        background: transparent;
        border: none;
        cursor: pointer;
        color: rgb(100, 116, 139);
        font-family: Poppins;
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: center;
      }
    }
  }

  .map-card {
    width: 629px;
    height: 335px;
    top: 844px;
    left: 354px;
    .container {
      padding-left: 57px;
      padding-top: 94px;

      ._ngcontent-ng-c3991897325 {
        transition: transform 0.3s ease;

        ._ngcontent-ng-c3991897325:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .line {
    width: 676px;
    height: 0;
    border: 1px solid rgb(231, 231, 231);
    margin-top: 150px;
  }

  .chart {
    width: 622px;
    height: 214px;
    left: 354px;
    right: -298px;
    top: 1284px;
    bottom: -724px;
    margin-left: 28px;
    margin-top: 30.5px;

    .container {
      display: block;
      .bar-chart {
        display: flex;
        align-items: center;
        margin-bottom: 10px; // Обновлено значение
        position: relative;
      }

      .bar-chart-title {
        padding-right: 10px;
        text-align: left;
        width: 61.77px;
        height: 24px;
        color: rgb(33, 43, 54);
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
      }

      .bar-chart-present {
        height: 18px;
        background-color: #3056d3;
        border-radius: 4px;
        color: rgb(255, 255, 255);
        text-align: center;
      }

      .bar-chart-full {
        margin-left: 80px;
        width: 472.89px; // "Width" исправлено на "width"
        height: 18px;
        border-radius: 4px;
        background-color: #e5e7eb;
      }
    }
  }
}
