<body>
  <div class="grid-container">
    <div class="grid-item color1">
      <div class="logo">
        <div class="logo-img">
          <img src="../assets/img/icons/Shape.png" alt="" />
        </div>
        <div class="logo-title">AdminPage</div>
      </div>
      <div class="short-info">
        <div class="container">
          <div class="short-info-menu">
            <a href="#">menu</a>
          </div>

          <div class="short-info-button">
            <div class="info-button-item">
              <!-- <button>Main</button> -->
              <app-button
                [name]="'Main'"
                [icon]="'icon-main'"
                [type]="'submit'"
                [class]="'home-btn'"
              >
              </app-button>
            </div>
            <div class="info-button-item">
              <!-- <button>Parsing</button> -->
              <app-button
                [name]="'Parsing'"
                [icon]="'icon-parsing'"
                [type]="'submit'"
                [class]="'home-btn'"
              >
              </app-button>
            </div>
            <div class="info-button-item">
              <!-- <button>Profile</button> -->
              <app-button
                [name]="'Profile'"
                [icon]="'icon-profile'"
                [type]="'submit'"
                [class]="'home-btn'"
              >
              </app-button>
            </div>
            <div class="info-button-item">
              <!-- <button>Calendar</button> -->
              <app-button
                [name]="'Calendar'"
                [icon]="'icon-calenda'"
                [type]="'submit'"
                [class]="'home-btn'"
              >
              </app-button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-item color2">
      <header>
        <div class="grid-header">
          <div class="grid-header-item col1">
            <div class="search">
              <!-- <img src="../assets/img/icons/search.png"class="search-icon" alt=""> -->
              <button class="search-button">
                <img src="../assets/img/icons/search 2.png" alt="" />
              </button>
              <input
                class="search-input"
                type="text"
                placeholder="Type to search..."
              />
            </div>
          </div>
          <div class="grid-header-item col2">
            <button class="toggle-btn">
              <img src="../assets/img/icons/Toggle.png" alt="" />
            </button>
          </div>
          <div class="grid-header-item col3">
            <button class="mess-btn">
              <img src="../assets/img/icons/Group 1000004097.png" alt="" />
            </button>
            <button class="bookmark-btn">
              <img src="../assets/img/icons/Group 1000004098.png" alt="" />
            </button>
          </div>
          <div class="grid-header-item col6">
            <div class="profile">
              <h2 class="title-name">John Wick</h2>
              <p class="category">Hitman</p>
            </div>
          </div>
          <div class="grid-header-item col5">
            <button class="profile-avatar-btn">
              <img src="../assets/img/icons/Ellipse 2824.png" alt="" />
            </button>
          </div>
          <div class="grid-header-item col4">
            <button class="chevron">
              <img src="../assets/img/icons/chevron-down (2) 1.png" alt="" />
            </button>
          </div>
        </div>
      </header>
      <main>
        <nav>
          <div class="container">
            <div class="grid-nav">
              <div class="grid-nav-item col1">
                <div class="form-field">
                  <div class="date-range-picker">
                    <input
                      type="date"
                      id="campaignOneStart"
                      placeholder="Start date"
                    />
                  </div>
                </div>
              </div>
              <div class="grid-nav-item col2">
                <div class="nav-item-daily">
                  <div class="nav-item-text">Daily</div>
                  <button class="nav-item-icon">
                    <img
                      src="../assets/img/icons/chevron-down (2) 1.png"
                      alt=""
                    />
                  </button>
                </div>
              </div>
            </div>
          </div>
        </nav>
        <div class="analytic">
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <!-- <h2>Bar Chart</h2> -->
                <canvas width="500px" id="plechart"></canvas>
              </div>
            </div>
          </div>
        </div>

        <aside class="aside">
          <div class="container">
            <div class="grid-item" *ngFor="let visitor of visitors">
              <div class="item-title">{{ visitor?.count }}</div>
              <div class="item-text">{{ visitor?.title }}</div>
            </div>
          </div>
        </aside>
        <div class="cities">
          <div class="nav-cities">
            <div class="container">
              <div class="top-title">
                <h2>Top Cities</h2>
              </div>
              <div class="top-button">
                <button class="btn">
                  Last 7 days
                  <img src="" alt="" />
                </button>
              </div>
            </div>
            <div class="map-card">
              <div class="container">
                <app-svg></app-svg>
              </div>
            </div>

            <div class="line"></div>
            <div class="chart">
              <div class="container">
                <div class="bar-chart" *ngFor="let city of barchart">
                  <div class="bar-chart-title">{{ city.title }}</div>
                  <div class="bar-chart-full">
                    <div
                      class="bar-chart-present"
                      [ngStyle]="{
                        width: (city.percent / maxPercent) * 100 + '%'
                      }"
                    >
                      {{ city.percent }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="shared-chart">
            <app-top-chart
              *ngIf="chartdate1.length"
              [title_name]="'Top Content'"
              [chartdate]="chartdate1"
            >
            </app-top-chart>

            <app-top-chart
              *ngIf="chartdate2.length"
              [title_name]="'Top Channels'"
              [chartdate]="chartdate2"
            >
            </app-top-chart>
          </div>
        </div>
      </main>
    </div>
  </div>

  <!-- <app-top-chart></app-top-chart> -->
  <!-- {{ chartdata | json }}
    <br />
    <ul>
      <li *ngFor="let d of chartdata">{{ d?.year }} | {{ d?.amount }}</li>
    </ul> -->
</body>

<!-- <div class="bar-chart">
    <div class="bar-chart-title">Алматы</div>
    <div class="bar-chart-full">
      <div class="bar-chart-present" style="width: 26%">26%</div>
    </div>
  </div>
  <div class="bar-chart">
    <div class="bar-chart-title">Шымкент</div>
    <div class="bar-chart-full">
      <div class="bar-chart-present" style="width: 30%">30%</div>
    </div>
  </div>
  <div class="bar-chart">
    <div class="bar-chart-title">Атырау</div>
    <div class="bar-chart-full">
      <div class="bar-chart-present" style="width: 50%">50%</div>
    </div>
  </div> -->
